* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
html {
    scroll-behavior: smooth;
}
nav {
    position: sticky;
    top: 0; /* Sticks to top on scroll */
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 130px;
}
nav img {
    height: 100%;
    width: auto;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: x-large;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: darkslateblue
}
.section {
    min-height: 600px; /* Gives breathing room */
    height: auto;
}

.introduction {
    display: flex;
    width: 100%;
    height: 100%;
}
.introduction .text-container {
    width: 50%;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-weight: bold;
    font-size: 4rem;
}
.desc {
    width: 60%;
    text-align:left;
    font-size:2rem;
    margin: 30px;
}
.decorative-image {
    width: 50%;
    height: auto;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.decorative-image img{
    height: 100%;
    max-height: 600px;
    width: auto;
}
#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
    padding: 60px;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
}
.project a {
    text-decoration: none;
    font-size: x-large;
}
.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.thumbnail img {
    width: 500px;
    height: 500px;
}
#certificate-list {
    list-style: none;
    width: 100%;
    padding: 60px;
    font-size: xx-large;
}
#certificate-list li {
    background-color: aliceblue;
    margin: 10px 0;
    padding: 10px;
}
footer {
    margin-top: auto;
    font-size: x-large;
    text-align: center;
    background-color: aliceblue;
}